<nav class="navbar navbar-light bg-danger">
    <span class="navbar-brand mb-0 h1">Acceptor Dashboard</span>
    <a href="acceptor/list" class="btn btn-primary">Dashboard</a>
    <a href='/logout' class="btn btn-danger">Logout</a>
</nav>
<h1>Successfully Logged In</h1>
<p>Hi {{user.name}}</p>
<p>Thanks for being an acceptor</p>
<table class="table mt-5">
    <thead>
        <tr>
            {{!-- <th scope="col">#</th> --}}
            <th scope="col">Total Food</th>
            <th scope="col">Waste Food</th>
            <th scope="col">Pickup Time</th>
            <th scope="col">Image</th>
            <th scope="col">Donor</th>
            

        </tr>
    </thead>
    <tbody>

        {{#each response}}
        {{#if status}}
        {{else}}
        <tr>
            {{!-- <th scope="row">{{@index}}</th> --}}
            <td>{{this.totalFoodCooked}}</td>
            <td>{{this.foodWasteQty}}</td>
            <td>{{this.pickUpTime}}</td>
            <td><img style="width:100px;height:100px;" src="/food-images/{{this._id}}.jpg" class="image-food"></td>
            {{#each this.user}} 
            <td>{{this.name}}<br>{{this.email}}
            {{#if this.latitude}}
            <br>
            <a href="https://www.openstreetmap.org/#map=19/{{this.latitude}}/{{this.longitude}}" class="btn btn-danger">Donor Location</a>
            {{/if}}
            {{/each}}
            </td>
            <td>
            <td><a href="/profile/{{this.donorId}}" class="btn btn-secondary">Donor Profile</a></td>
            </td>
           <td>
            <a href="/acceptor/accept/{{this._id}}" class="btn btn-danger"
            onClick="return confirm('Do you want to Accept?')">Accept</a>
            </td>
            
            

        </tr>
        {{/if}}
        {{/each}}

    </tbody>
</table>