
<nav class="navbar navbar-light bg-danger">
    <span class="navbar-brand mb-0 h1">Donor Dashboard</span>
    <a href='/logout' class="btn btn-danger">Logout</a>
</nav>

<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Total Food</th>
            <th scope="col">Waste Food</th>
            <th scope="col">Pickup Time</th>
            <th scope="col">Status</th>
           
        </tr>
    </thead>
    <tbody>
       
        {{#each response}}
        <tr>
            <th scope="row">{{@index}}</th>
            <td>{{this.totalFoodCooked}}</td>
            <td>{{this.foodWasteQty}}</td>
            <td>{{this.pickUpTime}}</td>
            <td>{{this.status}}</td>
           
        </tr>
        {{/each}}

    </tbody>
</table>