{{!-- <section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Edit Food</h2>
                <form action="/donor/edit-product/{{food._id}}" method="POST" enctype="multipart/form-data">

                    <label for="">Total Cooked Food</label>
                    <input type="text" name="totalFoodCooked" class="form-control" value="{{food.totalFoodCooked}}">

                    <label for="">Food Waste Qty</label>
                    <input type="text" name="foodWasteQty" class="form-control" value="{{food.foodWasteQty}}">

                    <label for="">Pickup Time</label>
                    <input type="datetime-local" name="pickUpTime" class="form-control" value="{{food.pickUpTime}}">


                    <label for="">Image</label>
                    <img src="/food-images/{{food._id}}.jpg" alt="" style="width:100px;height:auto" id="imgView"
                        class="pt-3">
                    <input type="file" name="image" class="form-control" onchange="viewImage(event)">

                    <button type="submit" class="btn btn-success mt-4">Submit</button>

                </form>
            </div>
        </div>
    </div>
</section> --}}

<script>
    function viewImage(event) {
        document.getElementById('imgView').src = URL.createObjectURL(event.target.files[0])
    }
    function locate() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition((position) => {
                    const lat = position.coords.latitude;
                    document.editForm.latitude.value = lat
                    const long = position.coords.longitude;
                    document.editForm.longitude.value = long
                    alert("Location Fetched Successfully")

                });
            }
        }
</script>
<header class="header-area">
    <div class="navbar-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="index.html">
                            <img src="/assets/images/logo.svg" alt="Logo">
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                            <span class="toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                            <ul id="nav" class="navbar-nav ml-auto">
                                <li class="nav-item active">
                                    <a class="page-scroll" href="#home">Home</a>
                                </li>
                              
                            </ul>
                        </div> <!-- navbar collapse -->

                        <div class="navbar-btn d-none d-sm-inline-block">
                            <a class="main-btn" data-scroll-nav="0" href="/logout" rel="nofollow">LOGOUT</a>
                        </div>
                    </nav> <!-- navbar -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- navbar area -->
    <div id="home" class="header-hero bg-image" style="background-image: url(/assets/images/banner-bg.svg)">
        <div class="container">
            <div class="row">

                <div class="col-12">

                    <div class="page-content">
                        <div class="home-head col-12 col-md-10">
                            {{!-- <p class="user-name">Hi {{user.name}}</p> --}}
                            <a class="main-btn mt-2" data-scroll-nav="0" href="/donor/list" rel="nofollow">DASHBOARD</a>
                            <a class="main-btn mt-2" data-scroll-nav="0" href="/donor" rel="nofollow">DONATE FOOD</a>
                        </div>
                        <p class="page-head">EDIT FOOD</p>
                    

                        <form name="editForm" class="" action="/donor/edit-product/{{food._id}}" method="post" enctype="multipart/form-data">
                            
                            <div class="form-group row">
                                <label class="col-12 col-md-2 col-form-label">
                                    <p class="form-label">Quantity Cooked</p>
                                </label>
                                <div class="col-10 col-md-5">
                                    <input type='number' class="form-control" name='totalFoodCooked' id='totalFoodCooked' required="required"
                                        value="{{food.totalFoodCooked}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-2 col-form-label">
                                    <p class="form-label">Quantity Wasted</p>
                                </label>
                                <div class="col-10 col-md-5">
                                    <input type='number' class="form-control" name='foodWasteQty' required="required"
                                        value="{{food.foodWasteQty}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-2 col-form-label">
                                    <p class="form-label">Pickup Time</p>
                                </label>
                                <div class="col-10 col-md-5">
                                    <input type="datetime-local" class="form-control" name='pickUpTime' id='pickUpTime' required="required" value="{{food.pickUpTime}}">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-2 col-form-label" for="">
                                    <p class="form-label">Image</p>
                                </label>
                                <div class="col-10 col-md-5">
                                    <img src="/food-images/{{food._id}}.jpg" alt="" style="width:100px;height:auto" id="imgView" class="pt-3">
                                    <input type="file" name="image" class="form-control upload-btn mt-2" onchange="viewImage(event)">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-2 col-form-label">
                                    <p class="form-label">Location</p>
                                </label>
                                
                                {{#if food.address}}
                                
                                <div class="col-10 col-md-5">
                                    <textarea class="form-control" name="address" >{{food.address}}</textarea>
                                </div>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="location-or">OR</p>
                            </div>
                        {{#if food.latitude}}
                            <div class="form-group col-12 col-md-9">
                                <div class="col-12 col-md-2 col-form-label"></div>
                                <div class="col-12 col-md-12 location-btn">
                                    <a onClick='locate();' class="btn btn-success">Change Live Location</a>
                                </div>
                            </div>
                            <input type="hidden" name="latitude" value="{{food.latitude}}"></input>
                            <input type="hidden" name="longitude" value="{{food.longitude}}"></input>
                            {{else}}
                            <div class="form-group col-12 col-md-9">
                                <div class="col-12 col-md-2 col-form-label"></div>
                                <div class="col-12 col-md-12 location-btn">
                                    <a onClick='locate();' class="btn btn-success">Give Live Location</a>
                                </div>
                                <input type="hidden" name="latitude"></input>
                                <input type="hidden" name="longitude"></input>
                            </div>
                            {{/if}}
                            {{else}}
                            <div class="col-10 col-md-5">
                                <textarea class="form-control" name="address" placeholder="Enter Pickup Location"></textarea>
                            </div>
                            </div>
                            <div class="col-12 col-md-9">
                                <p class="location-or">OR</p>
                            </div>
                            
                            <div class="form-group col-12 col-md-9">
                                <div class="col-12 col-md-2 col-form-label"></div>
                                <div class="col-12 col-md-12 location-btn">
                                    <a onClick='locate();' class="btn btn-success">Change Live Location</a>
                                </div>
                            </div>
                            <input type="hidden" name="latitude" value="{{food.latitude}}"></input>
                            <input type="hidden" name="longitude" value="{{food.longitude}}"></input>
                            {{/if}}
                            <div class="form-group col-12 col-md-7">
                                <button type="submit" class="main-btn mt-2" style="float: right;" onclick="validateAndSend()">Submit</button>
                            </div>
                        
                        </form>

                        
                    </div> <!-- header hero content -->
                </div>
            </div> <!-- row -->
         
        </div> <!-- container -->
        <div id="particles-1" class="particles"></div>
    </div> <!-- header hero -->
</header>